In [11]:
import pandas as pd
import numpy as np
import os                        # for testing use only
from IPython.display import display


file = 'data' + os.sep + 'LinerMreg.csv'
df_students = pd.read_csv(file)

df_students
target_column = df_students.columns[3] 
df_students.insert(0,'x_0',1)   
X = df_students.drop([target_column],axis=1)
y = df_students[target_column]

display(df_students)
print("X")
display(X)
print("y")
display(y)

df = pd.DataFrame([],
index=[0,1,2],
columns=df_students.columns)
df['x_0'] = 0

trained_w = pd.Series(0, index= df_students.columns.values)


for it in range(1):
    print("df_students")
    display(df_students)
    print("trained_w")
    display(trained_w)
    y_predict = predict(df_students,trained_w) #hy = w0x0 + w1x1 + .... wdxd
    print("y_predict")
    display(y_predict)
    sumy = y_predict - y #sum -> (y^ - yi)*xi 
    dd = df_students.T@sumy
    print("SUMMMMM")
    print(dd)
    trained_w = trained_w - (0.1*2/len(y))*dd
    print("trained_w trained_w trained_w")
    display(trained_w)





for i in range(len(y)):
    for j in range(len(df_students.columns)-1):
        df.iloc[i,j+1] = (df.iloc[i,0] - y.iloc[i])*X.iloc[i,j]  
    

pbf = df.sum(axis = 1, skipna = True)
#print(pbf)


    
dd = df.T.dot([1,1,1])
df = df.append(dd, ignore_index=True)



#display(df.sum(axis = 0, skipna = True))        
        
display(df)

   x_0  Size  badroom  age  price
0    1  2104        5   45    460
1    1  1416        3   40    232
2    1   852        2   36    178

X

   x_0  Size  badroom  age
0    1  2104        5   45
1    1  1416        3   40
2    1   852        2   36

y

0    460
1    232
2    178
Name: price, dtype: int64

df_students

   x_0  Size  badroom  age  price
0    1  2104        5   45    460
1    1  1416        3   40    232
2    1   852        2   36    178

trained_w

x_0        0
Size       0
badroom    0
age        0
price      0
dtype: int64

y_predict

0    0
1    0
2    0
dtype: int64

SUMMMMM
x_0           -870
Size      -1448008
badroom      -3352
age         -36388
price      -297108
dtype: int64
trained_w trained_w trained_w

x_0           58.000000
Size       96533.866667
badroom      223.466667
age         2425.866667
price      19807.200000
dtype: float64

   x_0  Size   badroom    age   price
0    0  -460   -967840  -2300  -20700
1    0  -232   -328512   -696   -9280
2    0  -178   -151656   -356   -6408
3    0  -870  -1448008  -3352  -36388

In [12]:
def predict(x_featureVectors,trained_w):
    # YOUR CODE HERE
    # @ - does dot product and save is as <class 'pandas.core.series.Series'> 
    from IPython.display import display
    #display(x_featureVectors)
    #display(trained_w)

    y_predicted = x_featureVectors@trained_w
    #display(y_predicted)
    return y_predicted